/* Body */
body{
  text-align: center;
}
/* Title */
#title{
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  text-align: center;
  background: url('../images/BroadwayBuilding.png') no-repeat;
  background-size: cover;
}
#title h1{
  font-size: 70px;
}
/* Menu */
#menu{
  font-family: Helvetica;
  text-align: center;
  font-size: 18px;
  list-style-type: none;
}
#menu a{
  color: white;
}
#ourprocess{
  font-size: 32px;
  font-weight: bold;
  font-family: Helvetica;
}
#maintext{
  text-align: center;
}
h4{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
/* DesignedInNewYorkTitle */
#DesignedInNewYorkTitle{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background: url('../images/BroadwayBuilding.png');
}
/* Bottom */
#BottomPage{
  font-family: Helvetica;
  background-color: dimgray;
}
#BottomPage a{
  color: white;
}
#copyright{
  font-size: 11px;
}
